html {
	box-sizing: border-box;
  }
  *{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
  }
  .bold {
	  font-weight: bold;
  }
  .color-gray {
	  color: #4e4e4e;
  }
  /* slideshow */
  .mySlides{
    width: 100%;
    height: auto;
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  /* base styles */
  .container {
    max-width: 1024px;
    margin: auto;
  }
  .row {
    background-color: #e3e3e3;
    padding: 2rem;
  }
  .header-top .logo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .header-top h3:hover {
    transform: translateY(-6px);
  }
  .header-top {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu {
    align-self: center;
  }
  .menu-icon {
    top: 7px;
    right: 0;
  }

  /* menu css */
  .menu-responsive {
    /* display: none; */
    list-style: none;
    text-align: center;
    display: none;
  }
  .menu-responsive li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4e4e4e;
    padding: 16px;
  }
  .menu-responsive.responsive {
    display: block;
    border-radius: 5px;
  }
  .menu-responsive.responsive li { padding: 15px; }
  .menu-responsive.responsive li:hover {
    background: rgba(172, 166, 166, 0.7);
    border-radius: 5px;
  }
  .menu-responsive.responsive li a:hover {
    color: white;
  }

  /* about css */
  .content {
    background-color: #f7f7f7;
    padding: 3.75rem 2rem 2.5rem 2rem;
  }
  .boxicon-item {
    margin-bottom: 3.75rem;
    padding: 2rem;
  }
  .boxicon-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .boxicon-item h3 {
    font-size: 1.125rem;
    text-align: center;
    margin: 1.1875rem 0;
  }
  .boxicon-item p {
    font-size: 0.875rem;
    color: #616161;
    text-align: center;
  }
  /* flash image animation */
@-webkit-keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
  }
  @keyframes flash {
  0% { opacity: .3; }
  100% { opacity: 1; }
  }
  .boxicon-item img:hover {
  opacity: 1;
  -webkit-animation: flash 2s;
  animation: flash 2s;
  }

  /* post css */
  .post {
    margin: 2rem 0;
  }
  .post h3{
    font-size: 1.125rem;
  }
  .img-box {
    margin-bottom: 3.5625rem;
    margin-top: 2rem;
  }
  .img-box img {
    width: 100%;
    height: auto;
  }
  .img-box-img {
    overflow: hidden;
  }
  .img-box-img img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }
  .img-box-img img:hover {
      transform: scale(1.5);
  }
  .btn-read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 1.5rem;
    padding: 16px 28px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  .btn-read-more:hover {
    background-color: #4e4e4e;
    border-radius: 25px;
  }
  .img-box-img {
    position: relative;
    width: 100%;
  }
  .img-box .title {
    margin-top: 1.5625rem;
  }
  .img-box .sub-title {
    color: #bebebe;
    font-size: 0.8125rem;
    margin-top: 0.9375rem;
  }
  .img-box .description {
    color: #5c5c5c;
    font-size: 0.875rem;
    margin-top: 1.5rem;
  }

  /* descript css */
  .descript {
    background-color: #efefef;
    height: 14.375rem;
    text-align: center;
  }
  .descript p {
    color: #a1a1a1;
    font-size: 1.25rem;
    padding: 3.75rem;
  }

  /* desktop style */
  @media (min-width: 1024px) {
    .menu-icon {
      display: none;
    }
    .row {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      font-size: 2.5rem;
    }
    .menu-responsive, .menu-responsive.responsive {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #e3e3e3;
    }
    .menu-responsive.responsive li { padding: 0px; }
    .menu-responsive.responsive li:hover {
      background: #e3e3e3;
    }
    .menu-responsive li a{
      padding-left: 1rem;
      border: 1px #e3e3e3; 
      border-radius: 15px;
    }
    .menu-responsive li a:hover {
      color:#e3e3e3;
      background-color: #616161;
  
    }
    
    /* about css */
    .content {
      padding: 3.75rem 2rem 2.5rem 2rem;
    }
    .container-about {
      display: flex;
      justify-content: space-between;
    }
    .btn-read-more {
      font-size: 1rem;
      padding: 12px 24px;
    }
    .post-item {
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: space-between;
    }
    .img-box {
      padding: 0 20px;
      flex: 33%;
    }
  }